body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.avatar {
    width: 200px;
    border-radius: 28px;
}

.info {
    display:flex
}
.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
}
.info-text {
    margin-bottom: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color:blue;
}

a:visited {
    color:grey;
}
.card {
    padding: 15px 20px;
    background: red;
    margin-bottom: 20px;
    border-radius: 5px;
}

.bg-yellow {
    background: yellow;
}

.bg-green {
    background: green;
}

.bg-red {
    background: red;
}

.container {
    max-width: 750px;
    margin: auto;
}
.social {
    background: yellow;
    padding: 15px;
    border: 5px solid red;
    margin: 20px;
}
.box-model div {
    float: left;
    background-color: yellow;
    border: 5px solid red;
    height: 200px;
    width: 25%;
    box-sizing: border-box;
}
.contact {
    text-align: center;
}
.form_group label {
    display: block;
    font-size: 14px;
}
.form_group input,
.form_group textarea {
    width: 100%;
    box-sizing: border-box;
}
.row {
    display: flex;
    margin-bottom: 20px;
}
.row > .form_group {
    width: 50%;
}

.row > .form_group:first-child {
    margin-right: 10px;
}